/* 设置窗口背景 */
QWidget #wgt_top {
    background-image: url(:/images/top.png);
}

QWidget #widget_28 {
    background-image: url(:/images/background.png);
}
QToolButton {
    background: transparent;  /* 背景透明 */
    border: none;             /* 去掉边框 */
    qproperty-iconSize: 20px; /* 设置图标大小 */
}

QWidget #widget_devCon,#widget_msg,#widget_bding,#widget_34,#widget_32,#widget_29,#widget_30,#widget_31,#widget_47,#widget_48,#widget_49,#widget_50,#widget_51,#widget_45,#widget_connect,#widget_param {
    background: transparent;
    border-image: url(:/images/wgt_background.png);
}

QComboBox {
    border: none;
    background: transparent;
    border-image: url(:/images/combo_normal.png); /* 默认背景 */
}

QComboBox::drop-down {
    border: none;
    background: transparent;
    width: 20px;
}

QComboBox::down-arrow {
    image: url(:/images/arrow_down.png); /* 下拉箭头 */
    width: 12px;
    height: 12px;
}

QComboBox QAbstractItemView {
    border-image: url(:/images/arrowdown_background.png); /* 下拉菜单背景 */
    border: 1px solid gray;
    selection-background-color: lightblue; /* 选中项颜色 */
}

QLineEdit {
    border: none; /* 去除边框 */
    border-image: url(:/images/linedit_param.png) 0 0 0 0 stretch stretch;
}

QCheckBox::indicator:unchecked {
    border-image: url(:/images/checkbox_normal.png); /* 未选中状态的图片 */
}

QCheckBox::indicator:checked {
    border-image: url(:/images/checkbox_checked.png); /* 选中状态的图片 */
}

QPushButton {
    background: transparent;  /* 背景透明 */
    border: 1px solid #25B6FF;  /* 2px 宽的蓝色边框 */
    border-radius: 5px;  /* 圆角边框 */
}

/* 鼠标悬停时修改背景 */
QPushButton:hover {
    background: url(:/images/button_default.png); /* 替换为你的背景图片路径 */
}

/* 按钮被点击时修改背景 */
QPushButton:pressed {
    background: url(:/images/button_checked.png); /* 替换为你的背景图片路径 */
    border-image: url(:/images/button_line_hover.png); /* 替换为你的背景图片路径 */
}

QMessageBox {
    background-color: rgb(13, 20, 71);
    background-repeat: no-repeat;
    background-position: center;
 }

QMessageBox::title { background-color: blue; color: white;}
QPlainTextEdit {
    border-image: url(:/images/showmsg_background.png); /* 设置背景图片 */
}

QDoubleSpinBox{
    border-image: url(:/images/linedit_param.png);
}


QDateTimeEdit {
    border-image: url(:/images/linedit_param.png);   // 背景颜色
}
QDateTimeEdit::down-button, QDateTimeEdit::up-button {
    width: 20px;                // 按钮宽度
    height: 20px;               // 按钮高度
    background-color: #e0e0e0;  // 按钮背景颜色
    border: 1px solid #ccc;     // 按钮边框颜色
    border-radius: 3px;         // 按钮圆角
}
QDateTimeEdit::down-button:hover, QDateTimeEdit::up-button:hover {
    background-color: #ff7f00;  // 鼠标悬停时背景颜色
            border-color: #ff7f00;      // 鼠标悬停时边框颜色
        }
        QDateTimeEdit::down-button:pressed, QDateTimeEdit::up-button:pressed {
            background-color: #ff4500;  // 鼠标按下时按钮背景颜色
            border-color: #ff4500;      // 鼠标按下时边框颜色
        }


